.cartImg {
    height: 170px;
    width: 200px;
    position: absolute;
    left: 20px;
    top: 30px;
   
}

.cartItem {
    width: 700px;
    height: 230px;
    position: relative;
    left: 25%;
    border-radius: 20px;
    background-color: white;
}

.cartDescription{
    position: relative;
    left: 34%;
    top: 13%;
    text-align: left;
}

.cartProductName{
    font-size: 1.2rem;
}



.inputValue{
    width: 4%;
}