.navbar{
    width: 100%;
    background-color: #F7E1AE;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

.Logo {
    top: 2px;
    left: 30px;
    position: absolute;
    color: white;
  }


  .links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
